
@media only screen and (min-width : 1200px) {

    .container { max-width: 1400px; } 

}

.flexRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      
      overflow: hidden;
      width:20vw;
      -webkit-appearance: none;
      background-color: #ececec;
    }

    input[type='range']:focus{
        outline: none;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 5px;
      -webkit-appearance: none;
      color: #000000;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 3px;
        height: 15px;
        border:1px solid black;
      //cursor: ew-resize;
      background: #000000;
      
      box-shadow: -20vw 0 0 20vw #000000;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}
 
canvas {
  
  width: 50vw;
  height: 8vh;
  z-index: 80 !important;
  position: absolute;
  top: 0px;
}

.mediaControls{
  z-index: 1000 !important;
  //position: absolute;
}

#albumArt{
  z-index: 1000 !important;
  // /position: absolute;
}